.signupError
{
    color: red;
    font-size: x-large;   
}

.signupLabel
{
    color: var(--secondary3);
    font-size: x-large;
}

.signupInput
{
    text-align: center;
    color: var(--foreground2);
    background-color: var(--background2 );
    font-size: x-large;
    margin: 5px;
}

.signupDiv
{
    text-align: center;
}

.signupButton
{
    margin: 20px;
    font-size: x-large;
    color: var(--foreground1);
    background-color: var(--background3);
    padding: 10px 20px;
}

.signupTitle
{
    margin : 10px;
    font-size: xx-large;
    color: var(--primary3);

}