:root
{
    --primary1: rgb(0, 0, 120);
    --primary2: rgb(45, 0, 135);
    --primary3: rgb(75, 0, 135);
    
    --secondary1: rgb(20, 255, 0);
    --secondary2: rgb(0, 200, 60);
    --secondary3: rgb(0, 165, 55);

    --background1: rgb(20, 20, 20);
    --background2: rgb(50, 50, 50);
    --background3: rgb(100, 100, 100);

    --foreground1: rgb(250, 250, 250);
    --foreground2: rgb(200, 200, 200);
    --foreground3: rgb(170, 170, 170);
}